## Build the docker code (image)
## Push the image to Docker Hub
## SSH into VM and start the new container

name: Continuous Deployment (Prod) (Backend)
on:
  push:
    branches: [ main ]

jobs:
  build_and_push:
    name: Build the docker image and push to Docker Hub
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/Dockerfile.backend
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/backend:${{ github.sha }}

      - name: SSH and deploy to VM
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" &> ~/ssh_key
          chmod 700 /home/runner/ssh_key
          ssh -o StrictHostKeyChecking=no -i ~/ssh_key monorepo@35.232.231.68 -t "docker stop backend && docker run -d --name backend -p 8000:8000 ${{ secrets.DOCKERHUB_USERNAME }}/backend:${{ github.sha }}"